.container .row {
    display: flex;
    text-align: center;
    justify-content: space-around safe;
    align-content: space-around safe;
}

.container {    
    flex-flow: column wrap;
    align-items: center safe;
}
.row {
    flex-flow: row wrap;
    align-items: baseline safe;
}

.title  {
    font-size: xx-large;
    flex: auto;
}

.label {
    font-size: medium;
    flex: 100%;
    align-self: flex-start;
}

.content {
    font-size: large;
    flex: auto;
    align-self: flex-end;
}
